body
{
    background-color: #374045;
    text-align: center;   
}

.main
{
    margin: 0 auto 0 auto;
    width:40%;
    /*padding:1% 2% 2% 2%;
    margin-right: 10%;
    margin-top: 1%;
    margin-left: 20%;*/
    text-align:left;
}

.heading_main
{
    color:cornsilk;
    text-align: center;
    background-color: #1b1717;
    border-radius: 5%;
}

.heading
{
    padding: 15px 15px;
}

.item-size
{
    font-size: large;
    font-family: sans-serif;
}

.checkbox-size
{
    width: 20px;
    height: 20px;
}
.btn {
    background-color:white; /* Blue background */
    border: none; /* Remove borders */
    color:black; /* White text */
/*    padding: 12px 16px;  Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

input[type=checkbox]:checked ~ p.strikethrough{
  text-decoration: line-through;
}
  
@media screen and (max-width: 768px) {
    .main
    {
        margin: 0 auto 0 auto;
        width:90%;     
    }

    .item-size
    {
        font-size: 2rem;
        font-family: sans-serif;
    }
    .checkbox-size
    {
        width: 18px;
        height: 18px;
    }
}